#homeImageContainer {
    background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1700426852/NextTravelBlog/Minimized/drhn9zbmrvaduldr9n7o.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 45%;
    background-repeat: no-repeat;
    height: 100vh;
}

#homeImage {
    width: 100%;
    margin: 0;
    position: relative;
}

#homeOverlayedImage {
    position: relative;
    left: 50%;
    top: 30%;
    width: 650px;
    height: 500px;
    border: 2px solid white;
    padding: 3px;
    border-radius: 0%;
}

#homeTitle {
    position: relative;
    top: -38%;
    left: 58%;
    color: black;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    width: 360px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#homeGreetingSection {
    background-color: black;
    text-align: center;
}

#homeGreetingHeader {
    margin: 0;
    padding-top: 8%;
    padding-bottom: 5%;
    color: white;
    font-size: 35px;
    font-style: italic;
}